.card {
  width: 245px;
  height: 380px;
  margin-bottom: 60px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  border-radius: 4px;
}

.card-img-top {
  height: 200px;
}

.card-body {
  padding: 18px 18px 10px 18px;
}

.card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.15;
  height: 40px;
}

.card-text {
  max-height: 70px;
  overflow: hidden;
}

.card-link {
  position: absolute;
  right: 18px;
  bottom: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #313E64;
}

