.footer {
  box-sizing: border-box;
  width: 100%;
  background-image: url('../assets/img/Rectangle.png'), url('../assets/img/full-bloom.png');
  background-blend-mode: multiply;
  .footer-left {
    margin: 40px;
    .logo-krama {
      font-family: 'Roboto Slab', serif;
      font-size: 58px;
      color: white;
    }
    .supported {
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-size: 12px;
    }
  }
  .footer-right {
    margin-right: 100px;
    ul li {
      margin: 10px 0;
      list-style-type: none;
      font-size: 12px;
      color: white;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  } 
}
