.navbar {
  position: fixed !important;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  z-index: 100;
  background-color: white;
  .logo {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    flex-basis: 15%;
  }
  .navigation {
    height: 100%;
    .menu {
      text-align: center;
      width: 120px;
      padding: 24px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        border-bottom: 4px solid $blue;
      }
      &:active {
        border-bottom: 4px solid $blue;
      }
    }
  }
  .search {
    flex-basis: 15%;
    text-align: end;
  }
}
