html {
    box-sizing: border-box;
  }
  body {
    margin: 20px; padding: 0;
    font: 12px Arial;
    color: #333;  
  }
  
  
  #manager-override {
    width: 425px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .mo-checks {
    margin: 0 0 10px 0;
  }