h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 64px;
    line-height: 78px;
    text-align: left;
    color: #2f2f2f;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 36px;
    text-align: justify;
    color: #000000;
}

p.destination {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: justify;
    color: #000000;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 33px;
    font-size: 18px;
    text-align: justify;
    color: #2f2f2f;
}

p.alamat {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 33px;
    font-size: 18px;
    color: #000000;
}