
*{    
    box-sizing: border-box;
    margin: 0;
}
body {
    background: rgb(6,156,113); 
    background: linear-gradient(90deg, rgba(6,156,113,1) 0%, rgba(9,74,121,1) 100%);
    font-family: 'Open sans';  
    background-repeat: no-repeat;
}
@media (max-width: 640px) {
        .body {
            width: 100%;
            position: absolute;
}
}
.login {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin: 75px 33% 60px 33%;
    width: 464px;
    height: 650px;
    background-color: rgba(251, 251, 251, 0.5)
}
.email-label {
    text-align: center;
    width: 144px;
    height: 26px;
    display: block;
    color: white;
    font-size: 20px;
    margin: 0 160px 23px;
    padding-top: 55px;
    
}
#email-box {
    margin: 46px 37px 31px;
    display: block;
    width: 390px;
    height: 69px;
    border-radius: 10px;
    padding-bottom: 0;
    font-size: 25px;
    text-align: center;
    background-color: transparent;
    
}
#pass-box {
    margin: 24px 37px 30px;
    display: block;
    width: 390px;
    height: 68.6px;
    /* border: solid #2F80ED 1px; */
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    background-color: transparent;
}
.pass-label {
    text-align: center;
    width: 99px;
    height: 26px;
    display: block;
    color: white;;
    font-size: 20px;
    margin: 0 182px 24px;
}
.forgot {
    height: 25px;
    width: 161px;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 139px 151px 37px;
}
.btn-login {
    color: white;
    font-size: 20px;
    background-color: rgb(41, 159, 189);
    display: block;
    width: 213px;
    height: 68px;
    border-radius: 170px;
    margin: 40px 125px;
    cursor: pointer;
    
}
#btn-close {
    position: absolute;
    cursor: pointer;
    opacity: .5;
    align-content: right;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
p {
    color: white;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: i;
}
.login-with{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.bxl-facebook-square {
    color: rgb(41, 159, 189);
    size: 300px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 60px;
}
.bxl-google-plus-circle{
    color: rgb(41, 159, 189);
    size: 300px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
}
.bxl-twitter-square{
    color: rgb(41, 159, 189);
    size: 300px;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 60px;

}