// Definisikan style umum

html {
  font-family: $font;
  color: $dark-grey;
  background-color: $light-grey; 
}

.shadow {
  box-shadow: 0 1px 4px 0 $dark-grey;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  font-size: 30px;
}
