*{    
    box-sizing: border-box;
    margin: 0;
}
body {
    background: rgb(6,156,113); 
    background: linear-gradient(90deg, rgba(6,156,113,1) 0%, rgba(9,74,121,1) 100%);
    font-family: 'Open sans';  

}