.wrap {
  position: relative;
  height: 110vh;
}
body {
  background: rgb(6,156,113); 
  background: linear-gradient(90deg, rgba(6,156,113,1) 0%, rgba(9,74,121,1) 100%);
  font-family: 'Open sans';
}

.email-link {
  margin: 46px 37px 31px 37px;
  display: block;
  width: 280px;
  height: 50px;
  border-radius: 10px;
  padding-bottom: 0;
  font-size: 20px;
  text-align: left;
  background-color: transparent;
  
}
h1{
  color: white;
  text-align: center;
  margin-top: 20px;
}
.forgotten-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 340px;
  height: 380px;
  border-radius: 10px;
  background: rgba(250, 249, 249, 0.568);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
.send-btn {
  color: white;
  font-size: 16px;
  background-color: rgb(41, 159, 189);
  display: block;
  width: 180px;
  height: 58px;
  border-radius: 170px;
  margin: 47px 140px 50px 100px;
  cursor: pointer;
}
.forgot-link{
  color: rgb(0, 89, 255);
  margin-left: 115px;
  text-align: center;
}